body, html {
  margin: 0;
}

html {
  height: 100%;
  background-color: teal;
}

body {
  height: inherit;
  overflow: hidden;
  align-items: center;
  display: grid;
  grid-template-rows: 20vh 35vh 35vh 10vh;
  /* color: rgb(13, 173, 13) */
}

.contador {
  /* position: static; */
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 auto;
  font-family:'Courier New', Courier, monospace;
  font-size: 300%;
  font-weight: bold;
  color: #000;
  /* position: absolute; */
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  /* top: 10px; */
  /* right: 10px; */
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

div p {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}

.esperando {
  overflow: auto;
  position: relative;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
}

.center {
  position: static;
  display: flex;
  justify-content: center;
}
.center p {
  font-family: 'Potta One', cursive;
  font-size: 400%;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 1.1rem;
  width: 170px;
  line-height: 2;
  margin-top: 30px;
}

@media all and (max-height: 410px) {
  div {
    position: static;
  }
}

.phrase {
  font-weight: bold;
}

.output {
  font-style: italic;
}

@media (max-width:600px) {
  h1 {
    font-size: 25px;
  }
  .contador { 
    /* font-size: 100%;
    padding: 10px; */
    height: 15vw;
    width: 15vw;
    line-height: 15vw;
  }
  .center p {
    font-family: 'Potta One', cursive;
    font-size: 300%;
  }

}